<!-- prettier-ignore -->
{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %} 
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for msg in messages %}
<p>{{ msg }}</p>
<!-- prettier-ignore -->
{% endfor %}
{% endif %}
{% endwith %}

<form method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" />
  <br />
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" />
  <button type="submit">로그인</button>
</form>
{% endblock %}
