<!-- prettier-ignore -->
{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %} 
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for msg in messages %}
<p>{{ msg }}</p>
<!-- prettier-ignore -->
{% endfor %}
{% endif %}
{% endwith %}

<h2>회원가입</h2>
<form method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" />
  <br />
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" />
  <br />
  <label for="email">Email:</label>
  <input type="email" name="email" id="email" />
  <button type="submit">회원가입</button>
</form>
{% endblock %}
