h1,
h2 {
  text-align: center;
}

#calendar {
  width: 100%;
  border-collapse: collapse;
}

#calendar th {
  /* #calendar th : calendar 밑에 있는 모든 th */
  /* #calendar > th : calendar 바로 밑에 있는 th */
  width: 14%;
  padding: 10px;
  background-color: #dadada;
}

#calendar td {
  text-align: center;
  padding: 10px;
  border: 1px solid black;
}

/* #calendar th:first-child, #calendar td:first-child { */
/* 모든 calendar id의 first-child를 골라라 */
#calendar tr > *:first-child {
  color: red;
}

#calendar th:last-child,
#calendar td:last-child {
  color: blue;
}

img {
  width: 100%;
}
