<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>상품 목록</h1>
    <form method="POST">
      <ul>
        {% for item in items %}
        <li id="{{ item.id }}">{{ item.name }} (가격: {{ item.price }}원)</li>
        <a href="{{ url_for('add_to_cart', item_id=item.id) }}">카트에 추가</a>
        {% endfor %}
      </ul>
      {% with messages = get_flashed_messagess() %} {% if messages %} {% for
      message in messages %}
      <div>{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}
    </form>
    <a href="/cart">장바구니 보기</a>
  </body>
</html>
