<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css')}}"
    />
  </head>
  <body>
    <nav>
      <a class="btn btn-primary" href="{{ url_for('home') }}">Home</a>
      <a class="btn btn-secondary" href="{{ url_for('user.user_page') }}"
        >User</a
      >
      <a class="btn btn-sucess" href="{{ url_for('admin.admin_page') }}"
        >Admin</a
      >
      <a class="btn btn-info" href="{{ url_for('product.product_page') }}"
        >Product</a
      >
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
