<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav>
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('user.user_page') }}">User</a>
      <a href="{{ url_for('admin.admin_page') }}">Admin</a>
      <a href="{{ url_for('product.product_page') }}">Product</a>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
